<!DOCTYPE html>
    {{> head}}
    <body>
        {{> nav_bar}}
        <div class="container">
            <div class="page-header">
                <h1>{{{page.title}}}</h1>
            </div>
            <p class="text-muted">
                Created : {{time page.ctime}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                Updated : {{time page.mtime}}
            </p>

            <p>{{page.content}}</p>

            <p class="bs-component">
                <form method="post" action="/page/{{page._id}}">
                    <input type="hidden">
                    <a href="/page/{{page._id}}/edit" type="button" class="btn btn-default">Edit</a>
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" value="{{page._id}}"class="btn btn-danger">Delete</button>
                </form>
            </p>
        </div>
    </body>
</html>
