<!DOCTYPE html>
    {{> head}}
    <body>
        {{> nav_bar this}}
        <div class="container">
            <div class="page-header">
                <h1>Users</h1>
            </div>

            <div class="row user-list">
                {{#each users}}
                <div class="col-md-2">
                    <div class="well">
                        <img width="100px" src="{{google.picture}}" />
                        <h4 class="text-center"><a href="/{{username}}">{{username}}</a></h4>
                    </div>
                </div>
                {{/each}}
            </div>


            <div class="page-header">
                <h1>Pages</h1>
            </div>
            {{#each pages}}
             <div>
                <a href="/page/{{id}}">{{title}}</a>
             </div>
            {{/each}}
        </div>
    </body>
</html>
